@import '../base/colors';
@import '../utilities/mixin';

.header {
    @include sizes(100%,200px);
    padding-top: 20px;
    top: 0;
    border-bottom: 3px solid rgba(0, 0, 0, 0.473);
    background-color: $color-header;
    border-radius: 0 0 20px 20px;
  }

  .bounceIn {
    -webkit-animation-name: bounceIn;
    animation-name: bounceIn;
    -webkit-animation-duration: .75s;
    animation-duration: .75s;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    }
    @-webkit-keyframes bounceIn {
    0%, 20%, 40%, 60%, 80%, 100% {
    -webkit-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    }
    0% {
    opacity: 0;
    -webkit-transform: scale3d(.3, .3, .3);
    transform: scale3d(.3, .3, .3);
    }
    20% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1);
    transform: scale3d(1.1, 1.1, 1.1);
    }
    40% {
    -webkit-transform: scale3d(.9, .9, .9);
    transform: scale3d(.9, .9, .9);
    }
    60% {
    opacity: 1;
    -webkit-transform: scale3d(1.03, 1.03, 1.03);
    transform: scale3d(1.03, 1.03, 1.03);
    }
    80% {
    -webkit-transform: scale3d(.97, .97, .97);
    transform: scale3d(.97, .97, .97);
    }
    100% {
    opacity: 1;
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
    }
    }
    @keyframes bounceIn {
    0%, 20%, 40%, 60%, 80%, 100% {
    -webkit-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    }
    0% {
    opacity: 0;
    -webkit-transform: scale3d(.3, .3, .3);
    transform: scale3d(.3, .3, .3);
    }
    20% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1);
    transform: scale3d(1.1, 1.1, 1.1);
    }
    40% {
    -webkit-transform: scale3d(.9, .9, .9);
    transform: scale3d(.9, .9, .9);
    }
    60% {
    opacity: 1;
    -webkit-transform: scale3d(1.03, 1.03, 1.03);
    transform: scale3d(1.03, 1.03, 1.03);
    }
    80% {
    -webkit-transform: scale3d(.97, .97, .97);
    transform: scale3d(.97, .97, .97);
    }
    100% {
    opacity: 1;
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
    }
    } 


  
  .header-position {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
  }
  
  .header-search input {
    border-radius: 6px;
    font-size: 17px;
    padding: 8px;
    background: $color-background;
    border: none;
    cursor: pointer;
  }
  
  .register-button {
    border-radius: 6px;
    padding: 8px;
    background-color: $color-background;
    cursor: pointer;
    margin-right: 10px;
  }
  
  .login-button {
    border-radius: 6px;
    padding: 8px;
    background-color: $color-background;
    cursor: pointer;
  }
  
  @include xxl {
    .header {
      position: initial;
      background-color: $color-primary;
      border: none;
    }
  
    .header-position {
      flex-direction: column;
      align-items: center;
    }
  
    .header-search {
      padding: 50px;
    }
  }
  
  @include xxs {
    .header-form {
      width: 100%;
    }
  
    .header-search {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  
    .header-button {
      width: 40px;
    }
  }
