/* FUENTES */

$calibri: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
$arial: Arial, Helvetica, sans-serif;
$courier: 'Courier New', Courier, monospace;
$times: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
