@import './colors';
/* ESTILO GENERAL */


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    color: $color-font;
}

body{
    background-color: $color-primary;
}

a{
    text-decoration: none;
    color: $color-font;
}